<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <br>
    <button onclick="window.location.href='/distances/past-requests'">Past Requests</button>
    <br>
    <button onclick="window.location.href='/distances/calculate-addresses-distance'">Calculate Distance</button>
  </body>
</html>